body {
}

.pageheader {
  color: slategray;
  padding: 10px;
  border-bottom: #cb1948 10px solid;
}

.top {
  padding: 0px;
  max-width: 100%;
}

img {
  height: 80px;
  display: inline-block;
}

.heading {
  font-size: 28px;
  text-align: right;
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}
