tr:nth-child(even) {
  background-color: #e0e0e0;
}

th {
  background-color: #092445;
  color: #ffffff;
}

td{
    color: black;
    padding: 7px;
}

table{
    margin-top: 30px;
}

.top-panel {
  padding: 5px;
  border-bottom: #cb1948 10px solid;
  max-width: 100%;
  margin-right: 0px;
}

h4 {
  display: inline-block;
  font-weight: bold;
  color: #005297;
  margin-left: 10%;
  padding-top: 3px;
}

.btn{
  white-space: normal;
  word-wrap: break-word;
  padding: 5px;
}

.btn-warning {
  margin-right: 10%;
}

.row{
  margin-right: 0px;
  margin-left: 0px;
}

@media (max-width: 768px) {
  th{
    font-size: 14px;
  }
  td{
    font-size: 12px;
  }
  .btn{
    white-space: normal;
    word-wrap: break-word;
    padding: 4px;
    font-size: small;
  }
}

@media (max-width: 576px) {

}
